.searchBar {
  padding: 20px 0;
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.searchBarSearch {
  margin-left: 20px;
  display: flex;
  width: 50vw;
}

.searchBarInput {
  margin-left: 20px;
  width: 50vw;
}